<div class="container">
	<section>
		<h2>Formulario</h2>
		<form action="https://formspree.io/ulloapiero@gmail.com" method="POST">
			<div>
				<label for="nombres">Nombres:</label>
				<input type="text" placeholder="Nombres" id="nombres" name="nombres_usuario" />
			</div>
			<div>
				<label for="apellidos">Apellidos:</label>
				<input type="text" placeholder="Apellidos" id="apellidos" name="apellidos_usuario" />
			</div>
			<div>
				<label for="correo">Correo electrónico:</label>
				<input type="email" placeholder="johndoe@gmail.com" id="correo" name="correo_usuario" />
			</div>
			<div>
				<label for="telefono">Telefono:</label>
				<input type="text" placeholder="2123456 ó 0987654321" id="telefono" name="telefono_usuario" />
			</div>
			<div>
				<label for="motivo">Motivo:</label>
				<select>
					<option value="hire">Contratos</option>
					<option value="info">Informaci&oacute;n</option>
					<option value="join">Quiero unirme</option>
					<option value="otro">Otro</option>
				</select>
			</div>
			<div>
				<label for="mensaje">Mensaje:</label>
				<textarea id="mensaje" placeholder="Cualquier duda, sugerencia o solicitud" name="mensaje_usuario"></textarea>
			</div>
			<div class="button">
				<button onclick="notificar()" id="botonForm" type="submit">Enviar</button>
			</div>
		</form>
	</section>
</div>
<script type="text/javascript" src="../js/script.js">
	function notificar(){
		var mensaje = "Se han enviado sus datos correctamente";
		window.confirm(mensaje);
		location.reload();
	}
</script>
