<%= stylesheet_link_tag "style" %>
<div class="container">
  <h1 class="title">Portafolio SuitCase</h1>
  <div class="timeline">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(../../assets/images/fimcbor.jpg);" data-year="2015">
          <div class="swiper-slide-content"><span class="timeline-year">2015</span>
            <h4 class="timeline-title">Creación de SuitCase</h4>
            <p class="timeline-text">Se crea el club en la faculta de FIMCBOR de la idea de la carrera de Turismo.</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/SageoEG_-_ESPOL_-_Monumento_ESPOL.jpg/1200px-SageoEG_-_ESPOL_-_Monumento_ESPOL.jpg)" data-year="2017">
          <div class="swiper-slide-content"><span class="timeline-year">Octubre 2017</span>
            <h4 class="timeline-title">Ruta de la Independencia</h4>
            <p class="timeline-text">SuitCase junto a Turismo organizan la ruta de la Independencia.</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: asset_path("fimcbor.jpg", image);" data-year="2018">
          <div class="swiper-slide-content"><span class="timeline-year"> Noviembre 2018</span>
            <h4 class="timeline-title">I3Week Espol</h4>
            <p class="timeline-text">SuitCase colabora como Staff en la semana de la Innovacion </p>
          </div>
        </div>
       
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js'></script>

  

    <script  src="./../js/index.js"></script>


