<div class="container" id="prox">
	<section>
		<article class="proxEventos">
			<br> </br>

			<div>

				<br> </br>
				<%= image_tag("i3week_logo.png", :class => "foto", :id => "fotoEspol") %>
				<p>Espol invitá a participar del evento de I3Week que se organiza con motivo de una semana de la innovacion donde se presentarán charlas, concuros y muchas sorpresas. Para conocer más visitar el link: 	 </p>
				<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDpzkVtDOX9jN2C2urJQFgnQlm-EizynwM&q=Guayaquil,Ecuador"></iframe>
			</div>
		</article>
	</section>
</div>